@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	summary {
		cursor: pointer;
	}

	details[open] > *:not(summary) {
		animation: details .2s ease-in-out forwards;
	}

	fieldset {
		padding: 0 .5em .5em;
		@apply border border-ink/10;
	}

	@keyframes details {
		from {
			opacity: 0;
			translate: 0 -1rem;
		}
	}
}

@layer components {
	._h {
		font-weight: bold;
	}
	.h1 { @apply _h; }
	.h2 { @apply _h; }

	.subdued {
		@apply text-center text-ink/20 text-sm;
	}
}

@layer utilities {
	.anim-zoom {
		animation: zoom .2s ease-in-out forwards;
	}

	@keyframes zoom {
		from {
			opacity: 0;
			scale: .5;
		}
	}
}
